extends ../layout

block main
  script(src = '/socket.io/socket.io.js')
  script.
    window.onload = function(){
    var socket = io.connect()
    /*최신 데이터 출력*/

    socket.on('checkAvmResult', function(){//점검시간 수정
    location.href = '/vm/list/#{user.managerId}/#{avm.avmId}'
    })
    socket.on('earnIncomeResult', function(data){//수익금 회수
    location.href = '/vm/list/#{user.managerId}/#{avm.avmId}'
    })
    socket.on('purchaseProductResult', function(data){//재고 구입
    location.href = '/vm/list/#{user.managerId}/#{avm.avmId}'
    })

    document.getElementById('checkAvm').onclick = function(){
    socket.emit('checkAvm', 'SOCKETIO -> UPDATE CHECKDATE')
    }
    document.getElementById('earnIncome').onclick = function(){
    socket.emit('earnIncome', #{avm.avmFinancialCondition})
    }
    for(var i = 1; i <= 11; i++){
    document.getElementById(i).onclick = function(){
    socket.emit('purchaseProduct')
    }
    }
    }

  table.table(class="#{table-striped table-bordered}")
    thead
      tr
        th info
        th
    tbody
      tr
        td 번호
        td #{avm.avmId}
        td
      tr
        td 위치
        td #{avm.avmLocation}
        td
      tr
        td 자판기 가격
        td #{avm.avmPrice}
        td
      tr
        td 설치일
        td #{avm.avmInstallDate}
        td
      tr
        td 최근 점검일
        td #{avm.avmCheckDate}
        td
          a.btn.btn-lg.btn-primary(id = 'checkAvm' href = '/vm/list/#{user.managerId}/#{avm.avmId}/updateDate' role = 'button') 점검완료

      tr
        td 관리자 자본
        td #{user.managerFinancialCondition}
        td
          a.btn.btn-lg.btn-primary(id = 'earnIncome' href = '/vm/list/#{user.managerId}/#{avm.avmId}/earnIncome' role = 'button') 수익실현
      tr
        td 자판기 수익금
        td #{avm.avmFinancialCondition}
        td
          +progress-bar-danger(avm.avmFinancialCondition/user.managerFinancialCondition*100)
            //
              자판기수익금 / 관리자총자본  -> progress-bar로 표시

  table.table(class="#{table-bordered}")
    thead
      tr
        th 재고번호
        th 재고명
        th 수량
        th
        th 판매가격
        th 재고원가
        th 누적 수익금
    tbody
      tr
        each item in list
          script.
            var
          tr
            td #{item.productId}
            td #{item.productName}
            td
              if(item.stockTotal>=30)
                label(style='color:red')
                  = item.stockTotal
                    //
                      상품수량 30초과 적색
              else
                = item.stockTotal
            td
              a.btn.btn-sm.btn-primary(id=item.productId href='/vm/list/#{user.managerId}/#{avm.avmId}/#{item.productId}' role='button') 재고구입
            td #{item.stockPrice}
            td #{item.productCost}
            td #{item.stockProfits}
